@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-chart-male: var(--chart-male);
  --color-chart-female: var(--chart-female);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --animate-indeterminate: indeterminate 1.5s ease-in-out infinite;
  --color-warning-foreground: var(--warning-foreground);
  --color-warning: var(--warning);
  --color-success-foreground: var(--success-foreground);
  --color-success: var(--success);
  --color-info-foreground: var(--info-foreground);
  --color-info: var(--info);
  --color-destructive-foreground: var(--destructive-foreground);
  @keyframes indeterminate {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(400%);
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.148 0.004 228.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.148 0.004 228.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.148 0.004 228.8);
  --primary: oklch(0.52 0.105 223.128);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.963 0.002 197.1);
  --muted-foreground: oklch(0.56 0.021 213.5);
  --accent: oklch(0.963 0.002 197.1);
  --accent-foreground: oklch(0.218 0.008 223.9);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.925 0.005 214.3);
  --input: oklch(0.925 0.005 214.3);
  --ring: oklch(0.723 0.014 214.4);
  --chart-1: oklch(0.855 0.138 181.071);
  --chart-2: oklch(0.704 0.14 182.503);
  --chart-3: oklch(0.6 0.118 184.704);
  --chart-4: oklch(0.511 0.096 186.391);
  --chart-5: oklch(0.437 0.078 188.216);
  --chart-male: var(--color-blue-600);
  --chart-female: var(--color-pink-500);
  --radius: 0.625rem;
  --sidebar: oklch(0.987 0.002 197.1);
  --sidebar-foreground: oklch(0.148 0.004 228.8);
  --sidebar-primary: oklch(0.609 0.126 221.723);
  --sidebar-primary-foreground: oklch(0.984 0.019 200.873);
  --sidebar-accent: oklch(0.963 0.002 197.1);
  --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
  --sidebar-border: oklch(0.925 0.005 214.3);
  --sidebar-ring: oklch(0.723 0.014 214.4);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-700);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-700);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-700);
  --destructive-foreground: var(--color-red-700);
}

.dark {
  --background: oklch(0.148 0.004 228.8);
  --foreground: oklch(0.987 0.002 197.1);
  --card: oklch(0.218 0.008 223.9);
  --card-foreground: oklch(0.987 0.002 197.1);
  --popover: oklch(0.218 0.008 223.9);
  --popover-foreground: oklch(0.987 0.002 197.1);
  --primary: oklch(0.45 0.085 224.283);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.275 0.011 216.9);
  --muted-foreground: oklch(0.723 0.014 214.4);
  --accent: oklch(0.275 0.011 216.9);
  --accent-foreground: oklch(0.987 0.002 197.1);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.56 0.021 213.5);
  --chart-1: oklch(0.855 0.138 181.071);
  --chart-2: oklch(0.704 0.14 182.503);
  --chart-3: oklch(0.6 0.118 184.704);
  --chart-4: oklch(0.511 0.096 186.391);
  --chart-5: oklch(0.437 0.078 188.216);
  --chart-male: var(--color-blue-400);
  --chart-female: var(--color-pink-400);
  --sidebar: oklch(0.218 0.008 223.9);
  --sidebar-foreground: oklch(0.987 0.002 197.1);
  --sidebar-primary: oklch(0.715 0.143 215.221);
  --sidebar-primary-foreground: oklch(0.302 0.056 229.695);
  --sidebar-accent: oklch(0.275 0.011 216.9);
  --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.56 0.021 213.5);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);
  --destructive-foreground: var(--color-red-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}

@layer components {
  .prose h1:not(.not-prose h1) {
    font-size: var(--text-2xl);
    font-weight: 800;
    line-height: var(--text-2xl--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .prose h2:not(.not-prose h2) {
    padding-bottom: calc(var(--spacing) * 2);
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: var(--text-xl--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .prose h2:not(.not-prose h2):first-child {
    margin-top: 0;
  }
  .prose h3:not(.not-prose h3) {
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: var(--text-lg--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .prose h3:not(.not-prose h3):first-child {
    margin-top: 0;
  }
  .prose h4:not(.not-prose h4) {
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: var(--text-lg--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .prose h4:not(.not-prose h4):first-child {
    margin-top: 0;
  }
  .prose h5:not(.not-prose h5) {
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: var(--text-lg--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .prose h5:not(.not-prose h5):first-child {
    margin-top: 0;
  }
  .prose h6:not(.not-prose h6) {
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-base);
    font-weight: 600;
    line-height: var(--text-base--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
  }
  .prose h6:not(.not-prose h6):first-child {
    margin-top: 0;
  }
  .prose h1:not(.not-prose h1) + p, .prose h2:not(.not-prose h2) + p, .prose h3:not(.not-prose h3) + p, .prose h4:not(.not-prose h4) + p, .prose h5:not(.not-prose h5) + p, .prose h6:not(.not-prose h6) + p {
    margin-top: 0;
  }
  .prose p:not(.not-prose p) {
    line-height: 1.75;
  }
  .prose p:not(.not-prose p):not(:first-child) {
    margin-top: calc(var(--spacing) * 6);
  }
  .prose li:not(.not-prose li) {
    line-height: 1.75;
  }
  .prose a:not(.not-prose a) {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: var(--spacing);
  }
  .prose blockquote:not(.not-prose blockquote) {
    padding-left: calc(var(--spacing) * 6);
    margin-top: calc(var(--spacing) * 6);
    font-style: italic;
    border-left: 2px solid var(--color-border);
  }
  .prose table:not(.not-prose table) {
    width: 100%;
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    overflow-y: auto;
  }
  .prose table:not(.not-prose table) thead tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--color-border);
  }
  .prose table:not(.not-prose table) thead tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  .prose table:not(.not-prose table) th {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    font-weight: 700;
    text-align: left;
    border: 1px solid var(--color-border);
  }
  .prose table:not(.not-prose table) th[align="center"] {
    text-align: center;
  }
  .prose table:not(.not-prose table) th[align="right"] {
    text-align: right;
  }
  .prose table:not(.not-prose table) tbody tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--color-border);
  }
  .prose table:not(.not-prose table) tbody tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  .prose table:not(.not-prose table) td {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
    border: 1px solid var(--color-border);
  }
  .prose table:not(.not-prose table) td[align="center"] {
    text-align: center;
  }
  .prose table:not(.not-prose table) td[align="right"] {
    text-align: right;
  }
  .prose ul:not(.not-prose ul) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: disc;
  }
  .prose ul:not(.not-prose ul) > li {
    margin-top: calc(var(--spacing) * 2);
  }
  .prose ul:not(.not-prose ul) p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }
  .prose ol:not(.not-prose ol) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: decimal;
  }
  .prose ol:not(.not-prose ol) > li {
    margin-top: calc(var(--spacing) * 2);
  }
  .prose ol:not(.not-prose ol) p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }
  .prose img:not(.not-prose img), .prose picture:not(.not-prose picture), .prose video:not(.not-prose video) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  .prose picture > img:not(.not-prose picture > img) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .prose kbd:not(.not-prose kbd) {
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    font-size: var(--text-xs);
    font-weight: 600;
    line-height: var(--text-xs--line-height);
    background-color: var(--color-muted);
    border-radius: calc(var(--radius) - 2px);
  }
  .prose hr {
    margin-top: calc(var(--spacing) * 10);
    margin-bottom: calc(var(--spacing) * 10);
  }
  .prose dl:not(.not-prose dl) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  .prose dl:not(.not-prose dl) dt {
    margin-top: calc(var(--spacing) * 6);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
  }
  .prose dl:not(.not-prose dl) dt:first-child {
    margin-top: 0;
  }
  .prose details:not(.not-prose details) {
    margin-top: calc(var(--spacing) * 6);
  }
  .prose details:not(.not-prose details) summary {
    margin-top: calc(var(--spacing) * 6);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    cursor: pointer;
  }
  .prose details:not(.not-prose details) p:first-of-type {
    margin-top: calc(var(--spacing) * 2);
  }
  .prose mark:not(.not-prose mark) {
    background-color: var(--color-yellow-300);
  }
  .prose small:not(.not-prose small) {
    font-size: var(--text-xs);
    line-height: 1;
  }
  .prose figure:not(.not-prose figure) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  .prose figure:not(.not-prose figure) img {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: var(--radius);
  }
  .prose figure:not(.not-prose figure) figcaption {
    margin-top: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    font-weight: 500;
    line-height: var(--text-sm--line-height);
    color: var(--color-muted-foreground);
  }
  .prose code:not(.not-prose code) {
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    font-size: var(--text-xs);
    font-weight: 500;
    line-height: var(--text-xs--line-height);
    color: var(--color-muted-foreground);
    background-color: var(--color-muted);
    border-radius: var(--radius-sm);
  }
}